<div class="col-sm-3 col-md-2" ng-include="'views/donors/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
<h3 class="page-header" translate>Donor Counselling</h3>

<form class="form-horizontal" name="findDonorCounsellingForm" style="padding:10px 0;" ng-submit="refresh()" novalidate>

    <div class="clearfix form-group">
        <label class="col-sm-2 control-label" translate>Venues</label>
        <div class="col-sm-10">
            <ui-select multiple ng-model="search.selectedVenues" name="selectedVenues" style="max-width:500px;min-height:34px;" on-select="updateAllVenues();" ui-select-required="!search.allVenues">
                <ui-select-match placeholder="{{'Select' | translate}}">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="venue.id as venue in venues | filter:$select.search">
                    {{venue.name}}
                </ui-select-choices>
            </ui-select>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="allVenues" ng-model="search.allVenues" ng-click="clearVenues()"> 
                    <span translate>Any</span>
                    
                </label>
            </div>
            <div>
                <ng-messages for="findDonorCounsellingForm.selectedVenues.$error" role="alert" ng-show="findDonorCounsellingForm.$submitted">
                <ng-messages-include src="messages.html"></ng-messages-include>
            </div>
        </div>
    </div>

    <div class="clearfix form-group">
        <label class="col-sm-2 control-label" translate>Donation Period</label>
        <div class="form-inline col-sm-10">
            <div>
                <dateselect name="startDate" ng-model="search.startDate" format="dateFormat" ng-required="!search.anyDate" ng-click="updateAnyDate()"></dateselect><span>&nbsp;<em translate>To</em>&nbsp;</span><dateselect-end name="endDate" ng-model="search.endDate" format="dateFormat" ng-required="!search.anyDate" ng-click="updateAnyDate()"></dateselect-end>
            </div>
            <div>
                <ng-messages for="findDonorCounsellingForm.startDate.$error" role="alert" ng-show="findDonorCounsellingForm.$submitted">
                    <small class="error" ng-message="required"><span translate>Select a valid date</span></small>
                    <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
            </div>
            <div>
                <ng-messages for="findDonorCounsellingForm.endDate.$error" role="alert" ng-show="findDonorCounsellingForm.$submitted && !findDonorCounsellingForm.startDate.$invalid">
                    <small class="error" ng-message="required"><span translate>Select a valid date</span></small>
                    <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="search.anyDate" ng-click="clearDates()">
                    <span translate>Any</span>
                </label>
            </div>
        </div>
    </div>

    <div class="clearfix form-group">
        <label class="col-sm-2 control-label" for="flaggedForCounselling" translate>Flagged for Counselling</label>
        <div class="form-inline col-sm-10">
            <div class="checkbox">
                <input type="checkbox" id="flaggedForCounselling" ng-model="search.flaggedForCounselling" 
            ng-click="clearCounsellingStatusReferredAndNotReferred()">
            </div>
        </div>
    </div>

    <div class="clearfix form-group">
        <label class="col-sm-2 control-label" for="counsellingStatus" translate>Counselling Status</label>
        <div class="form-inline col-sm-10">
             <select name="counsellingStatus" class="form-control" ng-model="search.counsellingStatus" ng-options="status as (status | titleCase | translate) for status in counsellingStatuses" ng-disabled="search.flaggedForCounselling" 
             ng-change="updateReferredAndNotReferredState()">
             <option value=""></option>
             </select> 
        </div>          
    </div>

    <div class="clearfix form-group">
        <div class="col-sm-2 control-label" for="referred" ></div>
        <div class="form-inline col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="referred" ng-model="search.referred" ng-disabled="search.flaggedForCounselling || search.counsellingStatus !== 'RECEIVED_COUNSELLING'">
                    <span translate>Include Donors That Have Been Referred</span> 
                </label>
            </div>
        </div>
    </div>

    <div class="clearfix form-group">
        <div class="col-sm-2 control-label" for="notReferred"></div>
        <div class="form-inline col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="notReferred" ng-model="search.notReferred" 
                    ng-disabled="search.flaggedForCounselling || search.counsellingStatus !== 'RECEIVED_COUNSELLING'"> 
                    <span translate>Include Donors That Have Not Been Referred</span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-offset-2 ">
        <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." :
            "Search" | translate}}
        </button>
        <button class="btn btn-primary" type="button" ng-click="clearSearch(findDonorCounsellingForm)" translate>Clear</button>
    </div>
</form>

<div class="panel panel-default" ng-if="searched">
    <div class="panel-body">
        <p>
            <em><span translate translate-params-count="gridOptions.data.length">{{count}} donor(s) found</span></em> | <em><span translate>Data Export</span>: </em>
            <button class="btn btn-primary btn-ui-grid-export" ng-click="export('pdf')" translate translate-comment="Portable Document Format file, abbreviation">PDF</button>
            <button class="btn btn-primary btn-ui-grid-export" ng-click="export('csv')" translate translate-comment="Comma Separated Values file, abbreviation">CSV</button>
        </p>
        <div class="grid" ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination></div>
    </div>
</div>
</div>
