<div class="col-sm-3 col-md-2" ng-include="'views/donors/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
    <h3 class="page-header" translate>Find Donor</h3>
    <form class="form-horizontal col-sm-12" role="form " name="findDonorForm" novalidate
        ng-submit="findDonor(findDonorForm)">
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label" translate>Name</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <input size="15" type="firstName" id="firstName" class="form-control input-sm"
                        placeholder="{{'First Name' | translate}}" autofocus="true" ng-model="donorSearch.firstName"
                        ng-required="!isDonorSearchValid()"
                        ng-disabled="donorSearch.donorNumber||donorSearch.donationIdentificationNumber||donorSearch.phoneNumber"
                        capitalize-first-letter>
                    <input size="15" type="middleName " id="middleName" class="form-control input-sm"
                        placeholder="Middle Name" ng-model="donorSearch.middleName" ng-required="!isDonorSearchValid()"
                        ng-disabled="donorSearch.donorNumber||donorSearch.donationIdentificationNumber||donorSearch.phoneNumber"
                        capitalize-first-letter>
                    <input size="15" type="lastName " id="lastName" class="form-control input-sm"
                        placeholder="{{'Last Name' | translate}}" ng-model="donorSearch.lastName"
                        ng-required="!isDonorSearchValid()"
                        ng-disabled="donorSearch.donorNumber||donorSearch.donationIdentificationNumber||donorSearch.phoneNumber"
                        capitalize-first-letter>
                    <input type="checkbox" id="usePhraseMatch" ng-model="donorSearch.usePhraseMatch"
                        ng-disabled="donorSearch.donorNumber||donorSearch.donationIdentificationNumber||donorSearch.phoneNumber"> <label
                        style="display: inline-block; cursor: pointer; cursor: hand;" for="usePhraseMatch"
                        translate>Include Similar Results</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label"><span translate>Donor Number</span></label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <input size="15" type="donorNumber" id="donorNumber" class="form-control input-sm" placeholder=""
                        ng-model="donorSearch.donorNumber" ng-required="!isDonorSearchValid()"
                        ng-disabled="donorSearch.lastName||donorSearch.firstName||donorSearch.middleName||donorSearch.donationIdentificationNumber||donorSearch.phoneNumber">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label" translate
                translate-comment="Donation Identification Number, abbreviation">DIN</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber"
                        class="form-control input-sm" placeholder="" ng-model="donorSearch.donationIdentificationNumber"
                        ng-required="!isDonorSearchValid()"
                        ng-disabled="donorSearch.lastName||donorSearch.firstName||donorSearch.middleName||donorSearch.donorNumber||donorSearch.phoneNumber">
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1">
            <small class="error" ng-show="findDonorForm.$submitted && !isDonorSearchValid()" translate>
                All search fields cannot be empty
            </small>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-1 control-label">Phone Number</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <input size="15" type="phoneNumber" id="phoneNumber" class="form-control input-sm" placeholder=""
                        ng-model="donorSearch.phoneNumber" ng-required="!isDonorSearchValid()"
                        ng-disabled="donorSearch.lastName||donorSearch.firstName||donorSearch.middleName||donorSearch.donationIdentificationNumber||donorSearch.donorNumber">
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1">
            <small class="error" ng-show="findDonorForm.$submitted && !isDonorSearchValid()">
                All search fields cannot be empty
            </small>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-3">
                <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." :
                "Search" | translate}}
                </button>
                <button class="btn btn-primary" type="button" ng-click="clear(findDonorForm)" translate>Clear</button>
            </div>
        </div>
    </form>

    <div ng-switch="searchResults" class="col-sm-12">
        <div style="padding-bottom: 10px"></div>

        <div ng-switch-when="true">
            <div class="panel panel-default">
                <div class="panel-body">

                    <p>
                        <em translate translate-params-count="data.length">{{count}} donor(s) found</em>
                        <span has-permission="{{permissions.ADD_DONOR}}">
                            <span> | </span>
                            <em ng-show="canAddDonors"><a
                                    ng-href="#/addDonor?firstName={{donorSearch.firstName}}&middleName={{donorSearch.middleName}}&lastName={{donorSearch.lastName}}"
                                    translate>Add New Donor</a></em>
                            <span ng-hide="canAddDonors">
                                <em translate>Donor Registration Blocked - No Open Donation Batches</em>
                                <span> | </span>
                                <em><a href="#/manageDonationBatches" translate>Add Donation Batch</a></em>
                            </span>
                        </span>

                    </p>

                    <table ng-table="tableParams" show-filter="false" class="table">
                        <tr ng-repeat="donor in $data" ng-click="viewDonor(donor);" role="button"
                            ng-mouseenter="this.$selected = true" ng-mouseleave="this.$selected = false"
                            ng-class="{'active': donor.$selected}">
                            <td data-title="'Donor Number' | translate" header-class="text-left" class="text-center"
                                sortable="'donorNumber'">
                                {{donor.donorNumber}}
                            </td>
                            <td data-title="'First Name' | translate" header-class="text-left" sortable="'firstName'">
                                {{donor.firstName}}
                            </td>
                            <td data-title="'Middle Name' | translate" header-class="text-left" sortable="'middleName'">
                                {{donor.middleName}}
                            </td>
                            <td data-title="'Last Name' | translate" header-class="text-left" sortable="'lastName'">
                                {{donor.lastName}}
                            </td>
                            <td data-title="'Gender' | translate" header-class="text-left" sortable="'gender'">
                                {{donor.gender | titleCase | translate}}
                            </td>
                            <td data-title="'Age' | translate" header-class="text-left" class="text-center"
                                calculate-age dob="{{donor.birthDate}}" age="age">
                                {{age}}
                            </td>
                            <td data-title="'Date of Birth' | translate" header-class="text-left" class="text-center"
                                sortable="'birthDate'">
                                {{ (donor.birthDate | bsisDate) || '' }}
                            </td>
                            <td data-title="'Venue' | translate" header-class="text-left" sortable="'panel'">
                                {{donor.venueName}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div ng-switch-when="false">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <em translate> No donors found </em> | <em> <a
                                ng-href="#/addDonor?firstName={{donorSearch.firstName}}&middleName={{donorSearch.middleName}}&lastName={{donorSearch.lastName}}"
                                translate>Add New Donor</a></em>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>