<div class="col-sm-3 col-md-2" ng-include="'views/donors/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
<span ng-switch="currentStep">

<h3 class="page-header" translate>Donor Merging</h3>

<form name="mergeDonorForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-body">

            <h3 ng-switch-when="1" class="page-header"><span translate>Select Donors to Merge</span> (<span class="h4" translate translate-params-step="1" translate-params-totalsteps="7">Step {{step}} of {{totalsteps}}</span>)</h3>
            <h3 ng-switch-when="2" class="page-header"><span translate>Donor Overview Merge</span> (<span class="h4" translate translate-params-step="2" translate-params-totalsteps="7">Step {{step}} of {{totalsteps}}</span>)</h3>
            <h3 ng-switch-when="3" class="page-header"><span translate>Donor Contact Merge</span> (<span class="h4" translate translate-params-step="3" translate-params-totalsteps="7">Step {{step}} of {{totalsteps}}</span>)</h3>
            <h3 ng-switch-when="4" class="page-header"><span translate>Donor Address Merge</span> (<span class="h4" translate translate-params-step="4" translate-params-totalsteps="7">Step {{step}} of {{totalsteps}}</span>)</h3>
            <h3 ng-switch-when="5" class="page-header"><span translate>Donor Deferrals Review</span> (<span class="h4" translate translate-params-step="5" translate-params-totalsteps="7">Step {{step}} of {{totalsteps}}</span>)</h3>
            <h3 ng-switch-when="6" class="page-header"><span translate>Donor Donations Review</span> (<span class="h4" translate translate-params-step="6" translate-params-totalsteps="7">Step {{step}} of {{totalsteps}}</span>)</h3>
            <h3 ng-switch-when="7" class="page-header"><span translate>Final Review</span> (<span class="h4" translate translate-params-step="7" translate-params-totalsteps="7">Step {{step}} of {{totalsteps}}</span>)</h3>

            <div class="h4">
                <small><em><span translate>Name</span>: </em></small>
                <span>{{donor.firstName}}</span>
                <span>{{donor.lastName}}</span>
                <small><em>
                </em></small>
                |
                <small><em><span translate>Gender</span>:</em></small>
                {{donor.gender | titleCase | translate}}
                |
                <small><em><span translate>Age</span>: </em></small>
                <span calculate-age dob="{{donor.birthDate}}" age="age">{{age}}</span>
                <em>(<span>{{ (donor.birthDate | bsisDate) || '' }}</span>)
                </em>
            </div>

            <hr/>

            <div ng-switch-when="1">
                <div ng-include="'views/donors/mergeDonorsSelection.html'"></div>
            </div>

            <div ng-switch-when="2">
                <div ng-include="'views/donors/mergeDonorsOverview.html'"></div>
            </div>

            <div ng-switch-when="3">
                <div ng-include="'views/donors/mergeDonorsContact.html'"></div>
            </div>

            <div ng-switch-when="4">
                <div ng-include="'views/donors/mergeDonorsAddress.html'"></div>
            </div>

            <div ng-switch-when="5">
                <div ng-include="'views/donors/mergeDonorsDeferrals.html'"></div>
            </div>

            <div ng-switch-when="6">
                <div ng-include="'views/donors/mergeDonorsDonations.html'"></div>
            </div>

            <div ng-switch-when="7">
                <div ng-include="'views/donors/mergeDonorsReview.html'"></div>
            </div>

            <button class="btn btn-primary" type="button"
                    ng-click="step(currentStep, currentStep-1, mergeDonorForm)" ng-disabled="currentStep==1" translate>Back</button>
            <button class="btn btn-primary" type="button"
                    ng-click="step(currentStep, currentStep+1, mergeDonorForm)"
                    ng-disabled="currentStep==lastStep" translate>Next</button>
            <button class="btn btn-primary" type="submit" ng-click="merge()"
                    ng-disabled="currentStep!=lastStep" translate>Finish</button>
            <button class="btn btn-primary" type="button" ng-click="cancel()" translate>Cancel</button>

        </div>
    </div>
</form>

</span>
</div>
