<div class="col-sm-3 col-md-2" ng-include="'views/donors/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
    <form editable-form name="editableForm" onaftersave="updateDonor(donor)" oncancel="cancelForm(donor, editableForm)"
        novalidate>
        <uib-alert type="danger" close="" ng-show="err.userMessage">
            <span translate>Please provide valid inputs</span>
            <ul>
                <li ng-show="err['fieldErrors']['donor.birthDate'][0].code === 'date.futureDate'">
                    <span translate>Cannot be a future date</span></li>
            </ul>
        </uib-alert>

        <span class="h2">
            <span editable-text="donor.firstName" e-name="firstName" e-class="xeditable name"
                e-required>{{donor.firstName}}</span>
            <small class="error h4" ng-show="
    (editableForm.firstName.$invalid && (editableForm.firstName.$dirty || submitted)) ||
    (editableForm.firstName.$invalid  && (editableForm.lastName.$dirty  || submitted))
    ">
                <span translate>This cannot be empty</span>
            </small>
            <span editable-text="donor.middleName" e-name="middleName"
                e-class="xeditable name">{{donor.middleName}}</span>
            <span editable-text="donor.lastName" e-name="lastName" e-class="xeditable name"
                e-required>{{donor.lastName}}</span><small><em>
                    <small class="error h4" ng-show="
    (editableForm.lastName.$invalid && (editableForm.lastName.$dirty || submitted)) ||
    (editableForm.lastName.$invalid  && (editableForm.lastName.$dirty  || submitted))
    " translate>
                        This cannot be empty
                    </small>
                    <span>
                        <span editable-select="donor.title" e-class="xeditable title"
                            e-ng-options="item as (item | translate) for item in title"
                            e-name="title">{{donor.title ? (donor.title | translate) : ''}}</span><span
                            ng-if="donor.title">.</span></span>
                    <span editable-text="donor.callingName" e-name="callingName"
                        e-class="xeditable name">{{donor.callingName}}</span>
                </em></small>
        </span>

        <span editable-select="donor.gender" e-class="xeditable title"
            e-ng-options="item.id as (item.name | translate) for item in gender" e-name="gender">
            <span ng-switch="donor.gender" class="h3" style="vertical-align: 0.3em; padding-left:10px;">
                <span ng-switch-when="male" class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x fa-fw"></i>
                    <i class="fa {{icons.MALE}} fa-stack-1x fa-inverse fa-fw"></i>
                </span>
                <span ng-switch-when="female" class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x fa-fw"></i>
                    <i class="fa {{icons.FEMALE}} fa-stack-1x fa-inverse fa-fw"></i>
                </span>
            </span>
        </span>
        <span class="h3" ng-if="donor.bloodGroup !== ''" style="vertical-align: 0.3em; padding-left:5px;">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x fa-fw"></i>
                <i class="fa fa-stack-1x fa-inverse">{{donor.bloodGroup}}</i>
            </span>
        </span>

        <span ng-if="donorInitialized !== undefined">
            <uib-alert type="danger" class="inline" close="" ng-show="isEligible !== true">
                <span translate>Do not bleed donor</span>
            </uib-alert>

            <uib-alert type="success" class="inline" close="" ng-show="isEligible !== false">
                <span translate>Eligible donor</span>
            </uib-alert>
        </span>

        <span class="h4" style="float: right; margin-top: 20px; padding-right: 15px;">

            <!-- Delete donor actions -->
            <div has-permission="{{permissions.VOID_DONOR}}" ng-hide="editableForm.$visible" style="display:inline;">
                <em>
                    <button type="button" class="btn btn-link" ng-click="confirmDelete(donor)"
                        ng-disabled="!donorPermissions.canDelete" translate>Void</button>
                </em>
            </div>


            <!-- Edit donor actions -->
            <div has-permission="{{permissions.EDIT_DONOR}}" style="display:inline;">
                <em>
                    <button type="button" class="btn btn-link" ng-click="editableForm.$show()"
                        ng-show="!editableForm.$visible" translate>Edit</button>
                </em>

                <span ng-show="editableForm.$visible">
                    <em>
                        <button type="submit" class="btn btn-link text-success" ng-disabled="editableForm.$waiting"
                            translate>Save</button>
                        <button type="button" class="btn btn-link text-muted" ng-disabled="editableForm.$waiting"
                            ng-click="editableForm.$cancel()" translate>Cancel</button>
                    </em>
                </span>
            </div>
        </span>

        <hr style="clear:right;" />

        <div class="h4">
            <small><em><span translate>Age</span>:</em></small>
            <span calculate-age dob="{{donor.birthDate}}" age="age">{{age}}</span>
            <em>(<span ng-show="!editableForm.$visible">{{ (donor.birthDate | bsisDate) || '' }}</span>
                <span ng-show="editableForm.$visible">
                    <dateselect ng-model="donor.birthDate" initDate="donor.birthDate" format="dateFormat"
                        opened="donorBirthDateOpen" cal-icon="icons.CALENDAR">
                    </dateselect>
                </span>) </em>
            |
            <small><em><span translate>Donor Number</span>:</em></small>
            {{donor.donorNumber}}
            |
            <small><span translate>Venue</span><em>: </em></small>
            <span editable-select="donor.venue.id" e-class="xeditable venue"
                e-ng-options="item.id as item.name for item in venues" e-name="venue" e-required>
                {{donor.venue.name}}
            </span>

            <!-- <span editable-text="donor.language" e-name="language" e-class="xeditable language"
                e-required>{{donor.language}}</span>
            <small class="error h4"
                ng-show="(editableForm.language.$invalid && (editableForm.language.$dirty || submitted))">
                <span translate>This cannot be empty</span>
            </small> -->


            <small><span translate>Preferred Language</span><em>:</em></small>
            <span editable-select="donor.preferredLanguage.id"
                e-ng-options="item.id as item.preferredLanguage for item in languages" e-class="xeditable language"
                 e-name="preferredLanguage" ng-model="userSelect">
                {{donor.preferredLanguage.preferredLanguage}}
             </span>

            <span ng-show="!editableForm.$visible" style="float: right; padding-right: 15px;">
                <small>
                    <em>
                        <a href="" ng-click="printDonorBarcode()" translate>Print Donor Barcode</a>
                    </em>
                </small>
            </span>
        </div>

    </form>

    <hr />

    <div style="padding-bottom: 5px"></div>

    <div class="col-sm-12">

        <uib-tabset justified="true">
            <uib-tab active="tabs.overview">
                <uib-tab-heading>
                    <i class="fa {{icons.INFOCIRCLE}}"></i>&nbsp;<span translate>Overview</span>
                </uib-tab-heading>

                <!-- Display this panel when the donor is initialized to avoid "flash" field value changes-->
                <div class="panel panel-default" ng-if="donorInitialized !== undefined">
                    <div class="panel-body">

                        <table class="dash-table">
                            <tbody>
                                <tr>
                                    <td class="icon"><i class="fa {{icons.CALENDAR}}"></i></td>
                                    <td class="field"><span translate>Due To Donate</span>:</td>
                                    <td class="value">
                                        <span
                                            ng-if="lastDeferral === null || lastDeferral.deferralReason.durationType === 'TEMPORARY'">{{dueToDonate | bsisDate:'longDate'}}</span>
                                        <span ng-if="lastDeferral.deferralReason.durationType === 'PERMANENT'"
                                            translate>Not applicable</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="icon"><i class="fa {{icons.WARNING}}"></i></td>
                                    <td class="field"><span translate>Currently Deferred</span>:</td>
                                    <td ng-if="currentlyDeferred" class="value red">
                                        <span ng-if="lastDeferral.deferralReason.durationType === 'TEMPORARY'" translate
                                            translate-params-date="deferredUntil | bsisDate">Deferred Until
                                            {{date}}</span>
                                        <span ng-if="lastDeferral.deferralReason.durationType === 'PERMANENT'"
                                            translate>Permanently deferred</span>
                                    </td>
                                    <td ng-if="!currentlyDeferred" class="value green"><span translate>No current
                                            deferrals</span></td>
                                </tr>
                                <tr has-permission="{{permissions.VIEW_POST_DONATION_COUNSELLING_DONORS}}">
                                    <td class="icon"><i class="fa {{icons.FLAG}}"></i></td>
                                    <td class="field"><span translate>Flagged for Counselling</span>:</td>
                                    <td ng-if="flaggedForCounselling" class="value red"><span translate>Yes</span><em
                                            class="pull-right" style="padding:0 15px;">
                                            <small><a ng-href="#/donorCounselling/{{donor.id}}"
                                                    translate>View</a></small>
                                        </em></td>
                                    <td ng-if="!flaggedForCounselling" class="value green"><span translate>No</span><em
                                            ng-if="hasCounselling" class="pull-right" style="padding:0 15px;">
                                            <small><a ng-href="#/donorCounselling/{{donor.id}}"
                                                    translate>View</a></small>
                                        </em></td>
                                </tr>
                                <tr>
                                    <td class="icon"><i class="fa {{icons.PLUS}}"></i></td>
                                    <td class="field"><span translate>Total Donations</span>:</td>
                                    <td class="value">{{totalDonations}}</td>
                                </tr>
                                <tr>
                                    <td class="icon"><i class="fa {{icons.EXCLAMATION}}"></i></td>
                                    <td class="field"><span translate>Total Adverse Events</span>:</td>
                                    <td class="value"
                                        ng-class="{'text-success': totalAdverseEvents < 1, 'text-danger': totalAdverseEvents > 0}">
                                        {{totalAdverseEvents}}
                                    </td>
                                </tr>
                                <tr ng-show="totalDonations > 0">
                                    <td class="icon"><i class="fa {{icons.CIRCLEO}}"></i></td>
                                    <td class="field"><span translate>Date of First Donation</span>:</td>
                                    <td class="value">{{dateOfFirstDonation | date:'longDate'}}</td>
                                </tr>
                                <tr ng-show="totalDonations > 0">
                                    <td class="icon"><i class="fa {{icons.CIRCLE}}"></i></td>
                                    <td class="field"><span translate>Previous Donation</span>:</td>
                                    <td class="value">
                                        <em><span translate>Date</span></em>:
                                        {{ (lastDonation.donationDate | bsisDate) || '' }}<br />
                                        <em><span translate>Venue</span></em>: {{lastDonation.venue.name}} <br />
                                        <em><span translate>Donation Type</span></em>:
                                        {{lastDonation.donationType.type}} |
                                        <em><span translate>Pack Type</span></em>:
                                        {{lastDonation.packType.packType}}<br />
                                        <em><span translate translate-comment="Weight, abbreviation">Wt</span></em>:
                                        {{lastDonation.donorWeight}} <span
                                            ng-if="lastDonation.donorWeight">{{weightUnit}}</span> |
                                        <em><span translate
                                                translate-comment="Blood Pressure, abbreviation">BP</span></em>:
                                        {{lastDonation.bloodPressureSystolic}}/{{lastDonation.bloodPressureDiastolic}}
                                        <span
                                            ng-if="lastDonation.bloodPressureSystolic || lastDonation.bloodPressureDiastolic">{{bpUnit}}</span>
                                        |
                                        <em>Hb</em>:
                                        <haemoglobin-value haemoglobin-count="lastDonation.haemoglobinCount"
                                            haemoglobin-level="lastDonation.haemoglobinLevel">
                                        </haemoglobin-value> |
                                        <em>P</em>: {{lastDonation.donorPulse}} <span
                                            ng-if="lastDonation.donorPulse">{{pulseUnit}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="icon"><i class="fa {{icons.INFO}}"></i></td>
                                    <td class="field"><span translate>Identifier</span>:</td>
                                    <td class="value">
                                        <form editable-form name="donorIdentifierForm"
                                            onbeforesave="checkIdentifier($data)" onaftersave="updateDonor(donor)"
                                            oncancel="onCancel()" novalidate>
                                            <span
                                                style="float: right; padding-right: 15px; padding-left: 15px; font-size: 0.9em">
                                                <em><a has-permission="{{permissions.EDIT_DONOR}}" href=""
                                                        ng-click="donorIdentifierForm.$show()"
                                                        ng-show="!donorIdentifierForm.$visible" translate>Edit</a></em>
                                                <span ng-show="donorIdentifierForm.$visible">
                                                    <em>
                                                        <button type="submit" class="btn"
                                                            style="background:none!important; border:none;  cursor: pointer;"
                                                            ng-disabled="donorIdentifierForm.$waiting"
                                                            translate>Save</button>
                                                        <button type="button" class="btn"
                                                            style="background:none!important; border:none;  cursor: pointer;"
                                                            ng-disabled="donorIdentifierForm.$waiting"
                                                            ng-click="donorIdentifierForm.$cancel()"
                                                            translate>Cancel</button>
                                                    </em>
                                                </span>
                                            </span>
                                            <span e-model="idType" e-class="xeditable" e-id="idType" e-name="idType"
                                                editable-select="donor.idType.id"
                                                e-ng-options="item.id as item.idType for item in idTypes"
                                                e-name="idType">
                                                <em>{{donor.idType.idType}}</em>
                                            </span>
                                            <span ng-if="donor.idType.id"> - </span>
                                            <span e-ng-disabled="!donorIdentifierForm.idType.$modelValue > 0"
                                                e-class="xeditable" editable-text="donor.idNumber" e-id="idNumber"
                                                e-name="idNumber">{{donor.idNumber}}</span>
                                            <span ng-show="donorIdentifierForm.$visible"
                                                class="error">{{ errorObject.identifier[0].error }}</span>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="icon"><i class="fa {{icons.COMMENT}}"></i></td>
                                    <td class="field"><span translate>Donor Notes</span>:</td>
                                    <td class="value">
                                        <form editable-form name="donorNotesForm" onaftersave="updateDonor(donor)">
                                            <span
                                                style="float: right; padding-right: 15px; padding-left: 15px; font-size: 0.9em">
                                                <em><a has-permission="{{permissions.EDIT_DONOR}}" href=""
                                                        ng-click="donorNotesForm.$show()"
                                                        ng-show="!donorNotesForm.$visible" translate>Edit</a></em>
                                                <span ng-show="donorNotesForm.$visible">
                                                    <em>
                                                        <button type="submit" class="btn"
                                                            style="background:none!important; border:none;  cursor: pointer;"
                                                            ng-disabled="donorNotesForm.$waiting"
                                                            translate>Save</button>
                                                        <button type="button" class="btn"
                                                            style="background:none!important; border:none;  cursor: pointer;"
                                                            ng-disabled="donorNotesForm.$waiting"
                                                            ng-click="donorNotesForm.$cancel()"
                                                            translate>Cancel</button>
                                                    </em>
                                                </span>
                                            </span>
                                            <p style="white-space:pre-wrap; width:40ex" e-class="xeditable notes"
                                                editable-textarea="donor.notes" e-escape="true" e-rows="4"
                                                e-name="notes">{{donor.notes}}</p>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


            </uib-tab>
            <uib-tab active="tabs.demographics">
                <uib-tab-heading>
                    <i class="fa {{icons.BARS}}"></i>&nbsp;<span translate>Demographics</span>
                </uib-tab-heading>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-include="'views/donors/viewDonorDemographics.html'"></div>
                    </div>
                </div>

            </uib-tab>

            <uib-tab active="tabs.donations" select="getDonations(donor.id)"
                has-permission="{{permissions.VIEW_DONATION}}">
                <uib-tab-heading>
                    <i class="fa {{icons.ARCHIVE}}"></i>&nbsp;<span translate>Donations</span>
                </uib-tab-heading>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div ng-switch on="donationsView">
                            <div ng-switch-when="viewDonations">
                                <div ng-include="'views/donors/viewDonations.html'"></div>
                            </div>
                            <div ng-switch-when="viewDonationSummary">
                                <div ng-include="'views/donors/viewDonationSummary.html'"></div>
                            </div>
                            <div ng-switch-when="addDonation">
                                <div ng-include="'views/donors/addDonorDonation.html'"></div>
                            </div>
                            <div ng-switch-default>
                                <div ng-include="'views/donors/viewDonations.html'"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>

            <uib-tab active="tabs.deferrals" select="getDeferrals(donor.id)"
                has-permission="{{permissions.VIEW_DEFERRAL}}">
                <uib-tab-heading>
                    <i class="fa {{icons.WARNING}}"></i>&nbsp;<span translate>Deferrals</span>
                </uib-tab-heading>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div ng-switch on="deferralView">
                            <div ng-switch-when="viewDeferrals">
                                <div ng-include="'views/donors/viewDeferrals.html'"></div>
                            </div>
                            <div ng-switch-when="manageDeferral">
                                <div ng-include="'views/donors/manageDeferral.html'"></div>
                            </div>
                            <div ng-switch-default>
                                <div ng-include="'views/donors/viewDeferrals.html'"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </uib-tab>
        </uib-tabset>

    </div>
</div>