<form editable-form name="donationSummaryForm" onbeforesave="validateForm($data); checkBleedTimes($data)"
      onaftersave="updateDonation(donation)" novalidate>
    <div class="col-sm-12" style="height:100%;">
        <div class="col-sm-6" style="height:100%; border-right: 2px solid #f5f5f5; ">
         <span style="float: right; padding-right: 15px; font-size: 0.9em">
         <span ng-show="!donationSummaryForm.$visible">
         <em><a has-permission="{{permissions.EDIT_DONATION}}" href="" ng-click="editDonation(donationSummaryForm)" translate>Edit</a></em>
         <span has-permission="{{permissions.EDIT_DONATION}}"> | </span>
         <em><a href="" ng-click="returnToListView()" translate>Done</a></em>
         </span>
         <span ng-show="donationSummaryForm.$visible">
         <em>
             <button type="submit" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donationSummaryForm.$waiting" translate>Save</button>
             <button type="button" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donationSummaryForm.$waiting" ng-click="cancelEditDonation(donationSummaryForm)" translate>Cancel</button>
         </em>
         </span>
         </span>
            <table class="dash-table">
                <tbody>
                <tr>
                    <td class="field"><span translate translate-comment="Donation Identification Number, abbreviation">DIN</span>:</td>
                    <td class="value">{{donation.donationIdentificationNumber}}</td>
                </tr>
                <tr>
                    <td class="field"><span translate>Donor Number</span>:</td>
                    <td class="value">{{donation.donorNumber}}</td>
                </tr>
                <tr>
                    <td class="field"><span translate>Date Bled</span>:</td>
                    <td class="value">{{donation.donationDate | bsisDate }}</td>
                </tr>
                <tr>
                    <td class="field"><span translate>Bleed Times</span>:</td>
                    <td class="value bleed-times">
                        <fieldset ng-disabled="!donation.permissions.canEditBleedTimes">
                            <table>
                                <tr>
                                    <td>
                                        <span editable-bstime="donation.bleedStartTime"
                                            e-mousewheel="donation.permissions.canEditBleedTimes"
                                            e-name="bleedStartTime" e-id="bleedStartTime"
                                            e-show-spinners="false">
                                            {{donation.bleedStartTime | bsisTime }}
                                        </span>
                                    </td>
                                    <td> <span translate>to</span></td>
                                    <td>
                                        <span editable-bstime="donation.bleedEndTime" e-name="bleedEndTime"
                                            e-mousewheel="donation.permissions.canEditBleedTimes"
                                            e-show-spinners="false">
                                            {{donation.bleedEndTime | bsisTime }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>      
                                        <small ng-show="donationSummaryForm.$visible" class="error">
                                            {{errorObject.emptyBleedStartTime[0].error }}
                                        </small> 
                                        <small ng-show="donationSummaryForm.$visible" class="error">
                                            {{errorObject.endTimeBeforeStartTime[0].error }}
                                        </small>
                                        <small ng-show="donationSummaryForm.$visible" class="error">
                                            {{errorObject.startTimeBeforeEndTime[0].error }}
                                        </small>
                                    </td>
                                    <td>   </td>
                                    <td>                               
                                        <small ng-show="donationSummaryForm.$visible" class="error">
                                            {{errorObject.emptyBleedEndTime[0].error }}
                                        </small>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td class="field"><span translate>Venue</span>:</td>
                    <td class="value">{{donation.venue.name}}</td>
                </tr>
                <tr>
                    <td class="field"><span translate>Pack Type</span>:</td>
                    <td class="value">
                        <fieldset ng-disabled="!donation.permissions.canEditPackType">
                        <span editable-select="donation.packType" e-name="packType"
                              e-ng-options="pt as pt.packType disable when (((testBatchStatus != null && testBatchStatus !== 'OPEN') || donation.isReleased) && (donation.packType.testSampleProduced !== pt.testSampleProduced)) for pt in packTypes track by pt.id">{{donation.packType.packType}}</span>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td class="field"><span translate>Donation Type</span>:</td>
                    <td class="value">{{donation.donationType.type}}</td>
                </tr>
                <tr>
                    <td class="field"><span translate>Pulse</span>:</td>
                    <td class="value">
                     <span e-class="form-control input-sm" editable-number="donation.donorPulse"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-max={{pulseMax}} e-min={{pulseMin}} e-decimal
                           e-name="donorPulse"
                           onbeforesave="checkErrors(donationSummaryForm.donorPulse.$error.min,
                        donationSummaryForm.donorPulse.$error.max)">{{donation.donorPulse}}</span>
                        <span ng-if="donation.donorPulse || donationSummaryForm.$visible"> {{pulseUnit}}</span>
                     <div ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.donorPulse.$error.min">
                         <span translate translate-params-min-value="pulseMin">Please enter a value above {{minValue}}</span>
                     </small>
                     <small class="error" ng-show="donationSummaryForm.donorPulse.$error.max">
                         <span translate translate-params-max-value="pulseMax">Please enter a value below {{maxValue}}</span>
                     </small>
                     </div>
                    </td>
                </tr>
                <tr>
                    <td class="field"><span translate translate-comment="Haemoglobin, abbreviation">Hb</span>:</td>
                    <td class="value">
                      <span ng-show="getBooleanValue('donation.hbNumericValue')">
                        <span e-class="form-control input-sm w50"
                             editable-number="donation.haemoglobinCount"
                             e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                             e-min={{hbMin}} e-max={{hbMax}} e-decimal
                             e-name="haemoglobinCount"
                             onbeforesave="checkErrors(donationSummaryForm.haemoglobinCount.$error.min,
                          donationSummaryForm.haemoglobinCount.$error.max)">{{donation.haemoglobinCount}}</span>
                        <span ng-show="(donation.haemoglobinCount && getBooleanValue('donation.hbNumericValue')) || donationSummaryForm.$visible"> {{hbUnit}}</span>
                      </span>
                      <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue') && (donation.haemoglobinLevel || donationSummaryForm.$visible)"> (</span><span ng-show="getBooleanValue('donation.hbQualitativeValue')"><span editable-select="donation.haemoglobinLevel" e-name="haemoglobinLevel"
                          e-ng-options="l.value as (l.label | titleCase | translate) for l in haemoglobinLevels">{{donation.haemoglobinLevel ? (donation.haemoglobinLevel | titleCase | translate) : ''}}</span></span><span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue') && (donation.haemoglobinLevel || donationSummaryForm.$visible)">)</span>
                      <div ng-show="donationSummaryForm.$visible">
                        <small class="error" ng-show="donationSummaryForm.haemoglobinCount.$error.min">
                           <span translate translate-params-min-value="hbMin">Please enter a value above {{minValue}}</span>
                        </small>
                        <small class="error" ng-show="donationSummaryForm.haemoglobinCount.$error.max">
                           <span translate translate-params-max-value="hbMax">Please enter a value below {{maxValue}}</span>
                        </small>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td class="field"><span translate translate-comment="Blood Pressure, abbreviation">BP</span>:</td>
                    <td class="value">
                     <span e-class="form-control input-sm w50" editable-number="donation.bloodPressureSystolic"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-min={{bpSystolicMin}} e-max={{bpSystolicMax}} e-decimal
                           e-name="bloodPressureSystolic"
                           onbeforesave="checkErrors(donationSummaryForm.bloodPressureSystolic.$error.min,
                        donationSummaryForm.bloodPressureSystolic.$error.max)">{{donation.bloodPressureSystolic}}</span><span ng-if="donation.bloodPressureSystolic || donation.bloodPressureDiastolic || donationSummaryForm.$visible">/</span><span e-class="form-control input-sm w50" editable-number="donation.bloodPressureDiastolic"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-min={{bpDiastolicMin}} e-max={{bpDiastolicMax}} e-decimal
                           e-name="bloodPressureDiastolic"
                           onbeforesave="checkErrors(donationSummaryForm.bloodPressureDiastolic.$error.min,
                        donationSummaryForm.bloodPressureDiastolic.$error.max)">{{donation.bloodPressureDiastolic}}</span>
                        <span ng-if="donation.bloodPressureSystolic || donation.bloodPressureDiastolic || donationSummaryForm.$visible"> {{bpUnit}}</span>
                     <div ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.bloodPressureSystolic.$error.min">
                         <span translate translate-params-min-value="bpSystolicMin">Please enter a value above {{minValue}}</span>
                     </small>
                     <small class="error" ng-show="donationSummaryForm.bloodPressureSystolic.$error.max">
                         <span translate translate-params-max-value="bpSystolicMax">Please enter a value below {{maxValue}}</span>
                     </small>
                     </div>
                     <div ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.bloodPressureDiastolic.$error.min">
                         <span translate translate-params-min-value="bpDiastolicMin">Please enter a value above {{minValue}}</span>
                     </small>
                     <small class="error" ng-show="donationSummaryForm.bloodPressureDiastolic.$error.max">
                         <span translate translate-params-max-value="bpDiastolicMax">Please enter a value below {{maxValue}}</span>
                     </small>
                     </div>
                    </td>
                </tr>
                <tr>
                    <td class="field"><span translate>Weight</span>:</td>
                    <td class="value">
                     <span e-class="form-control input-sm w50" editable-number="donation.donorWeight"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-min={{weightMin}} e-max={{weightMax}} e-decimal
                           e-name="donorWeight"
                           onbeforesave="checkErrors(donationSummaryForm.donorWeight.$error.min, donationSummaryForm.donorWeight.$error.max)">{{donation.donorWeight}}</span>
                        <span ng-if="donation.donorWeight || donationSummaryForm.$visible"> {{weightUnit}}</span>
                     <div ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.donorWeight.$error.min">
                         <span translate translate-params-min-value="weightMin">Please enter a value above {{minValue}}</span>
                     </small>
                     <small class="error" ng-show="donationSummaryForm.donorWeight.$error.max">
                         <span translate translate-params-max-value="weightMax">Please enter a value below {{maxValue}}</span>
                     </small>
                     </div>
                    </td>
                </tr>
                <tr>
                    <td class="field"><span translate>Donation Notes</span>:</td>
                    <td class="value"><span e-class="form-control input-sm notes" editable-text="donation.notes"
                                            e-name="notes">{{donation.notes}}</span></td>
                </tr>
                <tr>
                    <td class="field"><span translate>Adverse Event Type</span>:</td>
                    <td class="value">
                     <span e-name="adverseEventType"
                           editable-select="donation.adverseEvent.type"
                           e-ng-change="updateCommentFieldDisabledState(donationSummaryForm)"
                           e-ng-options="aet as (aet.name !== undefined ? aet.name : '') for aet in adverseEventTypes track by aet.id">
                     {{donation.adverseEvent.type.name}}
                     </span>
                    </td>
                </tr>
                <tr>
                    <td class="field"><span translate>Adverse Event Comment</span>:</td>
                    <td class="value">
                     <span e-name="adverseEventComment" e-class="form-control input-sm notes"
                           editable-text="donation.adverseEvent.comment"
                           e-ng-disabled="commentFieldDisabled"
                     >
                     {{donation.adverseEvent.comment}}
                     </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <table class="pull-right">
            <tr has-permission="{{permissions.VIEW_TEST_OUTCOME}}">
                <td ng-if="showTestResults" class="value"><em class="pull-right" style="padding:0 15px;">
                    <a style="cursor: pointer;" ng-click="toggleShowResults(false)" translate>Hide test outcomes</a>
                </em>
                </td>
                <td ng-if="!showTestResults" class="value"><em class="pull-right" style="padding:0 15px;">
                    <a style="cursor: pointer;" ng-click="toggleShowResults(true)" translate>Show test outcomes</a>
                </em>
                </td>
            </tr>
        </table>
        <div ng-show="showTestResults" class="col-sm-6" style="height:100%;">
         <span>
         <small><em><span translate>Sample Released</span>:</em></small> {{donation.released ? 'Yes' : 'No' | translate}}
         <br/>
         <small><em><span translate>TTI Status</span>:</em></small> {{donation.ttistatus | titleCase | translate}}
         <br/>
         <small><em><span translate>Blood Group Serology Status</span>:</em></small> {{donation.bloodTypingStatus | titleCase | translate}} - {{donation.bloodTypingMatchStatus | titleCase | translate}}
         </span>
            <hr style="margin-top:0px;"/>
            <div class="form-horizontal col-sm-12">
                <div class="row">
               <span class="col-sm-6">
                  <span class="h5" translate>TTI Outcomes</span>
                  <hr style="margin-top:10px; margin-bottom:5px;"/>
                  <table class="dash-table">
                      <thead>
                      <tr>
                          <th translate>Test</th>
                          <th translate>Outcome</th>
                          <th translate>Tested On</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="test in testResults">
                          <td ng-if="test.bloodTest.category == 'TTI'" class="value">
                              {{test.bloodTest.testNameShort}}
                          </td>
                          <td ng-if="test.bloodTest.category == 'TTI'" class="value">
                              {{test.result}}
                          </td>
                          <td ng-if="test.bloodTest.category == 'TTI'" class="value">
                              {{test.testedOn
                              | bsisDate}}
                          </td>
                      </tr>
                      </tbody>
                  </table>
               </span>
               <span class="col-sm-6">
                  <span class="h5" translate>Blood Group Serology Outcomes</span>
                  <hr style="margin-top:10px; margin-bottom:5px;"/>
                  <table class="dash-table">
                      <thead>
                      <tr>
                          <th translate>Test</th>
                          <th translate>Outcome</th>
                          <th translate>Tested On</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="test in testResults">
                          <td ng-if="test.bloodTest.category == 'BLOODTYPING'" class="value">
                              {{test.bloodTest.testNameShort}}
                          </td>
                          <td ng-if="test.bloodTest.category == 'BLOODTYPING'" class="value">
                              {{test.result}}
                          </td>
                          <td ng-if="test.bloodTest.category == 'BLOODTYPING'" class="value">
                              {{test.testedOn |
                              bsisDate}}
                          </td>
                      </tr>
                      </tbody>
                  </table>
               </span>
                </div>
            </div>
        </div>
    </div>
</form>
