<div class="col-sm-3 col-md-2" ng-include="'views/settings/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
    <h3 class="page-header" translate>Manage Transfusion Reaction Types</h3>

    <div class="col-sm-12">
        <div style="padding-bottom:10px;"></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <em translate translate-params-count="transfusionReactionTypesCount">{{count}} transfusion reaction type(s) found</em> |
                    <a href="#/manageTransfusionReactionType" translate>Add New Transfusion Reaction Type</a>
                </p>
                <div class="grid" ui-grid="gridOptions" ui-grid-pagination></div>
            </div>
        </div>
    </div>
</div>
