<div class="col-sm-3 col-md-2" ng-include="'views/settings/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
    <h3 class="page-header" translate>Manage Users</h3>

    <div class="col-sm-12">
        <div style="padding-bottom: 10px"></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <em translate translate-params-count="usersCount">{{count}} user(s) found</em> <span has-permission="{{permissions.MANAGE_USERS}}"> | <em> <a
                        href="" ng-click="addNewUser()" translate>Add New User</a></em> </span>
                </p>


                <table ng-table="usersTableParams" show-filter="false" class="table">
                    <tr ng-repeat="user in $data"
                        ng-mouseenter="this.$selected = true"
                        ng-mouseleave="this.$selected = false"
                        ng-class="{'active': user.$selected}">
                        <td ng-click="manageUser(user);" data-title="'Username' | translate" style="width:30%;" header-class="text-left"
                            sortable="'name'">
                            {{user.username}}
                        </td>
                        <td ng-click="manageUser(user);" data-title="'Name' | translate" header-class="text-left"
                            sortable="'name'">
                            {{user.firstName}} {{user.lastName}}
                        </td>
                        <td data-title="" style="width:25%;" header-class="text-left" sortable="" class="text-center">
                            <span style="font-size: 0.9em;">
                              <span ng-if="userToRemove == user.id">
                                <em><a ng-click="removeUser(user)" translate>Confirm</a></em> |
                                <em><a ng-click="cancelRemoveUser()" translate>Cancel</a></em>
                              </span>
                              <span ng-if="userToRemove != user.id">
                                <em><a ng-click="removeUserCheck(user)" translate>Remove</a></em>
                              </span>
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>