<div class="col-sm-3 col-md-2" ng-include="'views/inventory/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <span class="h3 page-header" translate>Manage Order</span>

  <span class="h4" style="float:right; margin-top: 5px; padding-right: 15px; display:inline;">
    <span has-permission="{{permissions.EDIT_ORDER_FORM}}" ng-if="orderForm.permissions.canEdit">
      <em>
        <button class="btn btn-link" ng-click="edit()" translate>Edit</button>
      </em>
    </span>
    <span style="margin-left: 20px; margin-top: -15px; float:right">
      <span has-permission="{{permissions.ISSUE_COMPONENT}}" ng-if="orderForm.permissions.canDelete">
        <button class="btn btn-primary" ng-click="deleteOrder()" ng-disabled="deleting">{{deleting ? 'Voiding...' : 'Void' | translate}}</button>
      </span>
      <span has-permission="{{permissions.ISSUE_COMPONENT}}" ng-if="orderForm.permissions.canDispatch">
        <button class="btn btn-primary" ng-click="dispatch()" translate>Dispatch Order</button>
      </span>
      <span has-permission="{{permissions.ISSUE_COMPONENT}}" ng-if="orderForm.status === 'DISPATCHED'">
        <button class="btn btn-primary" ng-click="exportDispatchNote()" translate>Print Dispatch Note</button>
      </span>
    </span>
  </span>

  <hr style="clear:right;"/>

  <section>
    <span class="text-muted" translate>Order Date</span> {{orderForm.orderDate | bsisDate}}
    <span class="text-muted" translate>Dispatched From</span> {{orderForm.dispatchedFrom.name}}
    <span class="text-muted" translate>Dispatched To</span> {{orderForm.dispatchedTo.name}}
    <span class="text-muted" translate>Order Type</span> {{orderForm.type |  titleCase | translate}}
    <div ng-show="orderFormHasPatient">
      <span class="text-muted" translate>Blood Bank</span>
      <span ng-hide="!isFieldEmpty(orderForm.patient.hospitalBloodBankNumber)" translate> Not Specified</span>
      <span ng-hide="isFieldEmpty(orderForm.patient.hospitalBloodBankNumber)"> {{orderForm.patient.hospitalBloodBankNumber}}</span>
      <span class="text-muted" translate>Ward Number</span>
      <span ng-hide="!isFieldEmpty(orderForm.patient.hospitalWardNumber)" translate> Not Specified</span>
      <span ng-hide="isFieldEmpty(orderForm.patient.hospitalWardNumber)"> {{orderForm.patient.hospitalWardNumber}}</span>
      <span class="text-muted" translate>Patient Number</span>
      <span ng-hide="!isFieldEmpty(orderForm.patient.patientNumber)" translate> Not Specified</span>
      <span ng-hide="isFieldEmpty(orderForm.patient.patientNumber)"> {{orderForm.patient.patientNumber}}</span>
      <span class="text-muted" translate>Patient Name</span> {{orderForm.patient.name1}} {{orderForm.patient.name2}}<br/>
      <span class="text-muted" translate>Blood Group</span>
      <span ng-hide="!isFieldEmpty(orderForm.patient.bloodGroup)" translate> Not Specified</span>
      <span ng-hide="isFieldEmpty(orderForm.patient.bloodGroup)"> {{orderForm.patient.bloodGroup}}</span>
      <span class="text-muted" translate>Gender</span>
      <span ng-hide="!isFieldEmpty(orderForm.patient.gender)" translate> Not Specified</span>
      <span ng-hide="isFieldEmpty(orderForm.patient.gender)"> {{orderForm.patient.gender | titleCase | translate}}</span>
      <span class="text-muted" translate>Date of Birth</span>
      <span ng-hide="!isFieldEmpty(orderForm.patient.dateOfBirth)" translate> Not Specified</span>
      <span ng-hide="isFieldEmpty(orderForm.patient.dateOfBirth)"> {{orderForm.patient.dateOfBirth | bsisDate}}</span>
    </div>
  </section>

  <hr />

  <div class="panel panel-default">
    <div class="panel-body">

      <h4 translate>Units Ordered</h4>

      <div class="col-sm-12">
        <div id="unitsOrderedGrid" class="grid" ui-grid="unitsOrderedGridOptions" ui-grid-pagination></div>
      </div>

      <h4 translate>Units Supplied</h4>

      <div class="col-sm-12">
        <div id="unitsSuppliedGrid" class="grid" ui-grid="unitsSuppliedGridOptions" ui-grid-exporter ui-grid-pagination></div>
      </div>

    </div>
  </div>

</div>
