<div class="container">
    <form class="form-signin" name="forgotPasswordForm" ng-submit="resetPassword()" novalidate>
        <img class="main" src="images/bsis_logo.png">
        <input type="text" id="username" name="username" class="form-control input-md" placeholder="{{'Username' | translate}}" required
               autofocus="true"
               ng-model="username" ng-model-options="{updateOn: 'default blur', debounce: {blur: 300, default: 0}}"
               select-on-focus/>
        <button class="btn btn-primary btn-block" type="submit" ng-disabled="resetting">{{resetting ? 'Resetting...' :
            'Reset password' | translate}}
        </button>
        <div style="padding-top:10px;" ng-show="message">
            <uib-alert type="danger" close="message = ''" ng-show="messageStyle === 'danger'">{{message}}</uib-alert>
            <uib-alert type="success" close="message = ''" ng-show="messageStyle === 'success'">{{message}}</uib-alert>
        </div>
        <a class="center-block" style="padding-top:5px;text-align:center;" ng-href='#/login' translate>Back to login</a>
    </form>
</div>
<div ng-include="'views/footer.html'"></div>
