<div class="container" style="padding-top:20px; width:60%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="modal-title" translate>Set a New Password</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info"><div class="alert alert-info" translate>You have logged in with a recovery password. Please set a new password before you continue.</div>
            <form id="passwordResetForm" class="form-horizontal" role="form" name="passwordResetForm"
                  ng-submit="setPassword(this);" novalidate>

                <div class="form-group"
                     ng-class="{'has-error': (passwordResetForm.$submitted || passwordResetForm.newPassword.$dirty) && passwordResetForm.newPassword.$invalid}">
                    <label class="control-label col-sm-3" style="color:inherit;" for="newPassword" translate>New Password</label>
                    <div class="col-sm-9">
                        <input class="form-control input-sm" type="password" name="newPassword" ng-model="newPassword"
                               ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}"
                               placeholder="{{'New password' | translate}}" required/>
                        <ng-messages for="passwordResetForm.newPassword.$error" role="alert"
                                     ng-show="passwordResetForm.$submitted || passwordResetForm.newPassword.$dirty">
                            <ng-messages-include src="messages.html"></ng-messages-include>
                        </ng-messages>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': (passwordResetForm.$submitted || passwordResetForm.confirmPassword.$dirty) && passwordResetForm.confirmPassword.$invalid}">
                    <label class="control-label col-sm-3" style="color:inherit;" for="confirmPassword" translate>Confirm Password</label>
                    <div class="col-sm-9">
                        <input class="form-control input-sm" type="password" name="confirmPassword"
                               ng-model="confirmPassword"
                               ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}"
                               compare-to="newPassword" placeholder="{{'Confirm new password' | translate}}" required/>
                        <ng-messages for="passwordResetForm.confirmPassword.$error" role="alert"
                                     ng-show="passwordResetForm.$submitted || passwordResetForm.confirmPassword.$dirty">
                            <ng-messages-include src="messages.html"></ng-messages-include>
                        </ng-messages>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" form="passwordResetForm" translate>Set Password</button>
        </div>
    </div>
</div>
