<div class="sidebar-footer col-sm-3 col-md-2" ng-controller="FooterCtrl">
    <p>© 2014 - {{copyrightEndyear}}
      <a href="http://www.jembi.org">Jembi Health Systems</a>
      <small>
        <br /><span translate translate-params-backend-version="backendVersion" translate-params-front-end-version="frontEndVersion">Version: {{backendVersion}} / {{frontEndVersion}}</span>
        <br /><span translate translate-params-backend-build-number="backendBuildNumber" translate-params-front-end-build-number="frontEndBuildNumber">Build: {{backendBuildNumber}} / {{frontEndBuildNumber}}
      </small>
    </p>
</div>
