Gender
<translate>Male</translate>
<translate>Female</translate>
Dynamic buttons
<translate>Search</translate>
<translate>Searching...</translate>
<translate>Void</translate>
<translate>Voiding...</translate>
<translate>Save</translate>
<translate>Saving...</translate>
<translate>Add</translate>
<translate>Adding...</translate>
<translate>Discarding...</translate>
<translate>Discard</translate>
<translate>Undiscard</translate>
<translate>Undiscarding...</translate>
<translate>Verify</translate>
<translate>Verifying...</translate>
<translate>Process</translate>
<translate>Processing...</translate>
<translate>Unprocess</translate>
<translate>Unprocessing...</translate>
<translate>Export All Data</translate>
<translate>Downloading...</translate>
<translate>Reset password</translate>
<translate>Resetting...</translate>
<translate>Removing...</translate>
Transfusion outcomes
<translate translate-comment="Transfusion Outcome">Transfused Uneventfully</translate>
<translate translate-comment="Transfusion Outcome">Transfusion Reaction Occurred</translate>
<translate translate-comment="Transfusion Outcome">Not Transfused</translate>
<translate translate-comment="Transfusion Outcome">Unknown</translate>
Order statuses
<translate translate-comment="Order Status">Created</translate>
<translate translate-comment="Order Status">Dispatched</translate>
Order/Dispatch types
<translate translate-comment="Order Type">Transfer</translate>
<translate translate-comment="Order Type">Issue</translate>
<translate translate-comment="Order Type">Patient Request</translate>
Inventory statuses
<translate translate-comment="Inventory Status">Not In Stock</translate>
<translate translate-comment="Inventory Status">In Stock</translate>
<translate translate-comment="Inventory Status">Removed</translate>
Component Statuses
<translate translate-comment="Component Status">Quarantined</translate>
<translate translate-comment="Component Status">Available</translate>
<translate translate-comment="Component Status">Expired</translate>
<translate translate-comment="Component Status">Issued</translate>
<translate translate-comment="Component Status">Transfused</translate>
<translate translate-comment="Component Status">Unsafe</translate>
<translate translate-comment="Component Status">Discarded</translate>
<translate translate-comment="Component Status">Processed</translate>
Return statuses
<translate translate-comment="Return Status">Created</translate>
<translate translate-comment="Return Status">Returned</translate>
Blood Typing Match Statuses
<translate translate-comment="Blood Typing Match Status">Not Done</translate>
<translate translate-comment="Blood Typing Match Status">No Match</translate>
<translate translate-comment="Blood Typing Match Status">Ambiguous</translate>
<translate translate-comment="Blood Typing Match Status">Match</translate>
<translate translate-comment="Blood Typing Match Status">Resolved</translate>
<translate translate-comment="Blood Typing Match Status">No Type Determined</translate>
<translate translate-comment="Blood Typing Match Status">Indeterminate</translate>
Blood Typing Statuses
<translate translate-comment="Blood Typing Status">Not Done</translate>
<translate translate-comment="Blood Typing Status">Pending Tests</translate>
<translate translate-comment="Blood Typing Status">Complete</translate>
TTI Statuses
<translate translate-comment="TTI Status">Not Done</translate>
<translate translate-comment="TTI Status">Safe</translate>
<translate translate-comment="TTI Status">Unsafe</translate>
<translate translate-comment="TTI Status">Indeterminate</translate>
Test Batch Statuses
<translate translate-comment="Test Batch Status">Open</translate>
<translate translate-comment="Test Batch Status">Released</translate>
<translate translate-comment="Test Batch Status">Closed</translate>
Haemoglobin Levels
<translate translate-comment="Haemoglobin Level">Pass</translate>
<translate translate-comment="Haemoglobin Level">Fail</translate>
Location Types
<translate translate-comment="Location Type">Venue</translate>
<translate translate-comment="Location Type">Processing Site</translate>
<translate translate-comment="Location Type">Distribution Site</translate>
<translate translate-comment="Location Type">Usage Site</translate>
<translate translate-comment="Location Type">Testing Site</translate>
<translate translate-comment="Location Type">Referral Site</translate>
Data Types
<translate translate-comment="Data Type">Text</translate>
<translate translate-comment="Data Type">Integer</translate>
<translate translate-comment="Data Type">Decimal</translate>
<translate translate-comment="Data Type">Boolean</translate>
<translate translate-comment="Data Type">Password</translate>
Titles
<translate translate-comment="Personal Title">Mr</translate>
<translate translate-comment="Personal Title">Mrs</translate>
<translate translate-comment="Personal Title">Ms</translate>
<translate translate-comment="Personal Title">Dr</translate>
<translate translate-comment="Personal Title">Prof</translate>
Months
<translate>January</translate>
<translate>February</translate>
<translate>March</translate>
<translate>April</translate>
<translate>May</translate>
<translate>June</translate>
<translate>July</translate>
<translate>August</translate>
<translate>September</translate>
<translate>October</translate>
<translate>November</translate>
<translate>December</translate>
Counselling Statuses
<translate translate-comment="Counselling Status">Received Counselling</translate>
<translate translate-comment="Counselling Status">Refused Counselling</translate>
<translate translate-comment="Counselling Status">Did Not Receive Counselling</translate>
Abbreviations
<translate translate-comment="Yes, abbreviation">Y</translate>
<translate translate-comment="No, abbreviation">N</translate>
<translate translate-comment="Refused counselling, abbreviation">R</translate>
<translate translate-comment="No Type Determined, abbreviation">NTD</translate>
Eligibility
<translate translate-comment="Donor Eligibility">Eligible</translate>
<translate translate-comment="Donor Eligibility">Not Eligible</translate>
Discard Reason Error Message
<translate>Discard Reason already exists.</translate>
Deferral Reason Error Message
<translate>Deferral Reason already exists.</translate>
<translate>Donation type already exists.</translate>
Pack Type Error Message
<translate>Pack Type name already exists.</translate>