<div class="col-sm-3 col-md-2" ng-include="'views/testing/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">

  <span class="h3 page-header" ng-show="bloodTestType === 'REPEAT_TTI'" translate>Record Repeat TTI Outcomes</span>
  <span class="h3 page-header" ng-show="bloodTestType === 'CONFIRMATORY_TTI'" translate>Record Confirmatory TTI Outcomes</span>

  <hr/>

  <div class="h4">
      <small><em><span translate>Created On</span>:</em> </small>
      {{ testBatchCreatedDate | bsisDateTime}}
      |
      <small><em><span translate>Number of Samples</span>:</em> </small>
      {{ numberOfDonations }}
  </div>

  <hr/>

  <div style="padding-bottom: 5px"></div>

  <div class="col-sm-12">
      <div class="panel panel-default">
          <div class="panel-body">
              <form ng-submit="saveTestResults(allTestOutcomes, false)">
                  <table ng-table="testOutcomesTableParams" show-filter="false" class="table">
                      <thead>
                      <th class="text-left sortable"
                          ng-class="{
                            'sort-asc': testOutcomesTableParams.isSortBy('donation.donationIdentificationNumber', 'asc'),
                            'sort-desc': testOutcomesTableParams.isSortBy('donation.donationIdentificationNumber', 'desc')
                          }"
                          ng-click="testOutcomesTableParams.sorting('donation.donationIdentificationNumber', testOutcomesTableParams.isSortBy('donation.donationIdentificationNumber', 'asc') ? 'desc' : 'asc')">
                          <div><span translate>DIN</span> <span ng-bind="$column.title(this)" ng-class="{'sort-indicator': params.settings().sortingIndicator=='span'}" class="ng-binding sort-indicator"></span></div>
                      </th>
                      <th class="text-center sortable" style="width:10%;"
                          ng-class="{
                            'sort-asc': testOutcomesTableParams.isSortBy('donation.donationDate', 'asc'),
                            'sort-desc': testOutcomesTableParams.isSortBy('donation.donationDate', 'desc')
                          }"
                          ng-click="testOutcomesTableParams.sorting('donation.donationDate', testOutcomesTableParams.isSortBy('donation.donationDate', 'asc') ? 'desc' : 'asc')">
                          <div><span translate>Donation Date</span> <span ng-bind="$column.title(this)" ng-class="{'sort-indicator': params.settings().sortingIndicator=='span'}" class="ng-binding sort-indicator"></span></div>
                      </th>
                      <th ng-repeat="column in testNames" ng-show="true"
                          class="text-center" ng-class=""
                          ng-click="">
                          <div>{{column.testNameShort}}</div>
                      </th>
                      </thead>
                      <tbody>
                      <tr ng-repeat="sample in $data"
                          ng-click=""
                          ng-mouseenter="this.$selected = true"
                          ng-mouseleave="this.$selected = false"
                          ng-class="{'active': sample.$selected}">
                          <td class="text-center">
                              {{sample.donation.donationIdentificationNumber}}
                          </td>
                          <td class="text-center">
                              {{sample.donation.donationDate | bsisDate}}
                          </td>
                          <td align="center" ng-repeat="test in testNames">
                  <span ng-show="bloodTestType === 'REPEAT_TTI' && (sample.recentTestResults[test.id] || sample.pendingRepeatTTITestsIds.indexOf(test.id) >= 0)">
                    <div style="width:90px;">
                        <ui-select
                                ng-model="allTestOutcomes[sample.donation.donationIdentificationNumber].testResults[test.id]"
                                ng-disabled="sample.recentTestResults[test.id] && !sample.recentTestResults[test.id].permissions.canEdit">
                            <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="result in test.validResults  | filter: {$: $select.search}">
                                <div ng-bind-html="result | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                  </span>
                  <span ng-show="bloodTestType === 'CONFIRMATORY_TTI' && (sample.recentTestResults[test.id] || sample.pendingConfirmatoryTTITestsIds.indexOf(test.id) >= 0)">
                    <div style="width:90px;">
                        <ui-select
                                ng-model="allTestOutcomes[sample.donation.donationIdentificationNumber].testResults[test.id]"
                                ng-disabled="sample.recentTestResults[test.id] && !sample.recentTestResults[test.id].permissions.canEdit">
                            <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="result in test.validResults  | filter: {$: $select.search}">
                                <div ng-bind-html="result | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                  </span>
                          </td>
                      </tr>
                      </tbody>
                  </table>

                  <div class="form-group">
                      <div class="col-sm-3">
                          <button class="btn btn-primary" type="submit" ng-disabled="savingTestResults">
                              {{savingTestResults ? "Saving..." : "Save" | translate}}
                          </button>
                          <button class="btn btn-primary" type="button" ng-click="go('/manageTestBatch')" ng-disabled="savingTestResults" translate>Cancel</button>
                      </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
</div>
